
<body>
    <footer class="footer">
        <div class="footer__logo-box">

            <picture class="footer__logo">
                <source srcset="../../img/fruits-basket.png 1x, ../../img/fruits-basket.png 2x"
                    media="(max-width: 37.5em)">
                <img src="../../img/fruits-basket.png" srcset="../../img/fruits-basket.png 1x, ../../img/fruits-basket.png 2x"
                    alt="Full logo">
            </picture>
        </div>
        <div class="row">
            <div class="col-1-of-2">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Contact Us</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Carrers</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Privacy Policy</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>