<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Priceless | Gain margins with your prices</title>
  <!-- NAVIGATION -->
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/css/style.css" />
  <link rel="shortcut icon" type="image/png" href="/styles/img/fruits-basket.png">
</head>

<body>
  
  <header class="header">
    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">
          Priceless
        </span>
        <span class="heading-primary--sub">
          is something to keep in mind
        </span>
      </h1>
      <a href="#section-info" class="btn btn--white btn--animated">Learn more</a>
    </div>
  </header>

  <main>
    <section class="section-info" id="section-info">

      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--1">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--1">Operability</span>
          </h4>
          <div class="card__details">
            <p>La aplicación asegura una operabilidad en la nube sin interrupciones, ofreciendo un rendimiento eficiente y fiable en todo momento.</p>
          </div>

        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__cta">
            <p>El flujo de trabajo de la aplicación permite obtener los precios diarios de los almacenes de cadena más importantes de Colombia</p>
            <a href="#" class="btn btn--white">Conoce más</a>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--2">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--2">Security</span>
          </h4>
          <div class="card__details">
            <p>La aplicación garantiza una seguridad robusta entre los recursos de la nube y a los usuarios.</p>
          </div>

        </div>
        <div class="card__side card__side--back card__side--back-2">
          <div class="card__cta">
            <p>Toda la información es administrada desde la nube y permite asegurar y obtener datos fiables</p>
            <a href="#" class="btn btn--white">Conoce más</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--3">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--3">Performance</span>
          </h4>
          <div class="card__details">
            <p>Optimiza el rendimiento de su aplicación en la nube con escalabilidad automática y tiempos de respuesta ultrarrápidos</p>
          </div>

        </div>
        <div class="card__side card__side--back card__side--back-3">
          <div class="card__cta">
            <p>Encontrara todos los datos sobre productos en el mercado colombiano en un instante</p>
            <a href="#" class="btn btn--white">Conoce más</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--3">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--3">Maintenance</span>
          </h4>
          <div class="card__details">
            <p>El mantenimiento de la aplicación es constante para su correcto funcionamiento</p>
          </div>

        </div>
        <div class="card__side card__side--back card__side--back-3">
          <div class="card__cta">
            <p>La aplicación siempre va a estar disponible para ti</p>
            <a href="#" class="btn btn--white">Conoce más</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--1">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--1">Scalability</span>
          </h4>
          <div class="card__details">
            <p>Priceless App es dinamica y encuentra la manera de que pueda ser usada tanto para un grupo de personas como para un millon!</p>
          </div>

        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__cta">
            <a href="#" class="btn btn--white">Conoce más</a>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--2">
            &nbsp;
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--2">Availability</span>
          </h4>
          <div class="card__details">
            
          </div>

        </div>
        <div class="card__side card__side--back card__side--back-2">
          <div class="card__cta">
            
            <a href="#" class="btn btn--white">Conoce más</a>
          </div>
        </div>
      </div>


    </section>
  </main>

</body>

</html>