.header {
    height: 85vh;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url("/styles/img/cultivo-y-cultivo-de-cebolla.jpg");
    background-size: cover;
    background-position: top;
    position: relative;


    @media only screen and (min-resolution: 192dpi) and (min-width:37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:37.5em),
    only screen and (min-width:125em) {
        background-image: linear-gradient(to right bottom, #ffa50070, $color-primary-dark), url("/styles/img/cultivo-y-cultivo-de-cebolla.jpg");

    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        right: 35%;
        text-align: left;

        @include respond(big-desktop) {
            right: 35%;
        }

        @include respond(tab-land) {

            right: 17%;

        }




    }
}